.container {
  margin-top: 4rem;
}

.overviewContainer {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 1rem;
}

@media (max-width: 1024px) {
  .overviewContainer {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: auto;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 1rem;
  }
  .overviewContainer {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}
