.container {
  height: 100%;
}

.degree {
  display: flex;
}

.locationTimestamp {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(219, 217, 217);
}

.timestamp {
  display: flex;
  align-items: center;
}

.timestamp p,
.timestamp span {
  font-size: 1.125rem;
  line-height: 2.625rem;
}

.infoDetail {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.icon img {
  height: 7rem;
}

.currentCondition {
  margin: 4rem auto;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.currentDegreeText {
  font-size: 5.5rem;
}

@media (max-width: 1444px) {
  .currentDegreeText {
    font-size: 4.5rem;
  }
}

@media (max-width: 1024px) {
  .icon img {
    height: 5rem;
  }
  .currentCondition {
    margin: 3rem auto;
    gap: 0.25rem;
  }
  .currentDegreeText {
    font-size: 3rem;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 1rem 1.5rem;
  }
}
