.container {
  display: flex;
  justify-content: space-between;
}

.title{
  text-transform: uppercase;
  font-weight: 700;
}

.buttonHeader {
  display: flex;
  gap: .8rem;
}

.githubBtn{
  display: flex;
  align-items: center;
}