.inputContainer {
  display: flex;
  border-radius: 18px;
  padding: 8px;
  background-color: var(--default-background-color);
}

.input {
  outline: none;
  background-color: transparent;
  border: none;
  color: rgb(0, 0, 0);
  width: 100%;
  margin-left: .5rem;
}

.input::placeholder {
  color: var(--placeholder-color);
}
