.container {
  display: flex;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 100rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.leftContainer {
  width: 30%;
  padding: 1rem 3rem;
}

.rightContainer {
  width: 70%;
  padding: 1rem 3rem;
}

@media (max-width: 1024px) {
  .leftContainer,
  .rightContainer {
    font-size: 0.7rem;
  }

  .leftContainer {
    padding: 1rem 1.5rem;
  }
  .rightContainer {
    padding: 1rem 2rem;
  }
}
